@font-face {
  font-family: heebo;
  src: url("fonts/heebo/Heebo-Regular.ttf");
}
@media (min-width: 200px) {
  .col-1 {
    width: 8.3333333333%;
  }
  .col-2 {
    width: 16.6666666667%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.3333333333%;
  }
  .col-5 {
    width: 41.6666666667%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.3333333333%;
  }
  .col-8 {
    width: 66.6666666667%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.3333333333%;
  }
  .col-11 {
    width: 91.6666666667%;
  }
  .col-12 {
    width: 100%;
  }
}
@media (min-width: 375px) {
  .col-sm-1 {
    width: 8.3333333333%;
  }
  .col-sm-2 {
    width: 16.6666666667%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.3333333333%;
  }
  .col-sm-5 {
    width: 41.6666666667%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.3333333333%;
  }
  .col-sm-8 {
    width: 66.6666666667%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-10 {
    width: 83.3333333333%;
  }
  .col-sm-11 {
    width: 91.6666666667%;
  }
  .col-sm-12 {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .col-md-1 {
    width: 8.3333333333%;
  }
  .col-md-2 {
    width: 16.6666666667%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.3333333333%;
  }
  .col-md-5 {
    width: 41.6666666667%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.3333333333%;
  }
  .col-md-8 {
    width: 66.6666666667%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.3333333333%;
  }
  .col-md-11 {
    width: 91.6666666667%;
  }
  .col-md-12 {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .col-lg-1 {
    width: 8.3333333333%;
  }
  .col-lg-2 {
    width: 16.6666666667%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.3333333333%;
  }
  .col-lg-5 {
    width: 41.6666666667%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.3333333333%;
  }
  .col-lg-8 {
    width: 66.6666666667%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.3333333333%;
  }
  .col-lg-11 {
    width: 91.6666666667%;
  }
  .col-lg-12 {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .col-xl-1 {
    width: 8.3333333333%;
  }
  .col-xl-2 {
    width: 16.6666666667%;
  }
  .col-xl-3 {
    width: 25%;
  }
  .col-xl-4 {
    width: 33.3333333333%;
  }
  .col-xl-5 {
    width: 41.6666666667%;
  }
  .col-xl-6 {
    width: 50%;
  }
  .col-xl-7 {
    width: 58.3333333333%;
  }
  .col-xl-8 {
    width: 66.6666666667%;
  }
  .col-xl-9 {
    width: 75%;
  }
  .col-xl-10 {
    width: 83.3333333333%;
  }
  .col-xl-11 {
    width: 91.6666666667%;
  }
  .col-xl-12 {
    width: 100%;
  }
}
body {
  font-family: "heebo";
  color: hsl(192, 100%, 9%);
  margin: 0;
}

nav {
  position: absolute;
  right: 4%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 2rem;
}
nav img {
  width: 9rem;
  height: 1.5rem;
}
nav button {
  width: 8rem;
  height: 2rem;
  border: 0;
  border-radius: 2rem;
  background-color: white;
  font-size: 0.8rem;
  color: black;
  box-shadow: 1px 0px 12px -5px gray;
}

header {
  background-color: hsl(193, 100%, 96%);
}
header img {
  width: 100%;
}
header .header-section {
  background-image: url("images/bg-hero-desktop.svg");
  margin: auto auto 5rem;
  display: flex;
  flex-wrap: wrap;
  padding-top: 6rem;
  justify-content: center;
}
@media (max-width: 375px) {
  header .header-section {
    background-image: url("images/bg-hero-mobile.svg");
  }
}
header .primary-heading {
  font-weight: bold;
  font-size: 2rem;
}
@media (max-width: 768px) {
  header .primary-heading {
    font-size: 1rem;
  }
}
@media (max-width: 375px) {
  header .primary-heading {
    text-align: center;
  }
}
header .secondary-heading {
  width: 72%;
  font-size: 0.9rem;
  margin-bottom: 2rem;
}
@media (max-width: 768px) {
  header .secondary-heading {
    font-size: 0.7rem;
    margin-bottom: 1rem;
  }
}
@media (max-width: 375px) {
  header .secondary-heading {
    text-align: center;
    margin: 0 auto 2rem;
  }
}
header button {
  width: 12rem;
  height: 2rem;
  border: 0;
  border-radius: 2rem;
  background-color: hsl(322, 100%, 66%);
  font-size: 18px;
  color: white;
}
@media (max-width: 768px) {
  header button {
    display: block;
    width: 6rem;
    height: 2rem;
    border: 0;
    border-radius: 2rem;
    background-color: hsl(322, 100%, 66%);
    font-size: 0.5rem;
    color: white;
    height: 1rem;
  }
}
@media (max-width: 375px) {
  header button {
    display: block;
    margin: auto auto 2rem;
  }
}

section .cards {
  margin: auto;
}
section .card1 {
  display: flex;
  align-items: center;
  flex-wrap: wrap-reverse;
  padding: 2rem;
  margin-bottom: 3rem;
  box-shadow: 0px 0px 36px -23px gray;
  border: 0;
  border-radius: 0.8rem;
}
section .card1 .card-content {
  padding-inline: 4rem;
  box-sizing: border-box;
  margin: auto;
}
@media (max-width: 375px) {
  section .card1 .card-content {
    text-align: center;
    padding-inline: 1rem;
  }
}
@media (max-width: 768px) {
  section .card1 .card-content {
    padding-inline: 0;
  }
}
@media (max-width: 768px) {
  section .card1 .card-content h3 {
    font-size: 18px;
  }
}
section .card1 .card-content .card-pharagraph {
  font-size: 18px;
  color: hsl(208, 11%, 55%);
}
@media (max-width: 768px) {
  section .card1 .card-content .card-pharagraph {
    font-size: 18px;
  }
}
section .card2 {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem;
  margin-bottom: 3rem;
  box-shadow: 0px 0px 36px -23px gray;
  border: 0;
  border-radius: 0.8rem;
}
section .card2 .card-content {
  padding-inline: 4rem;
  box-sizing: border-box;
  margin: auto;
}
@media (max-width: 375px) {
  section .card2 .card-content {
    text-align: center;
    padding-inline: 1rem;
  }
}
@media (max-width: 768px) {
  section .card2 .card-content {
    padding-inline: 0;
  }
}
@media (max-width: 768px) {
  section .card2 .card-content h3 {
    font-size: 18px;
  }
}
section .card2 .card-content .card-pharagraph {
  font-size: 18px;
  color: hsl(208, 11%, 55%);
}
@media (max-width: 768px) {
  section .card2 .card-content .card-pharagraph {
    font-size: 18px;
  }
}
section .card3 {
  display: flex;
  align-items: center;
  flex-wrap: wrap-reverse;
  padding: 2rem;
  margin-bottom: 3rem;
  box-shadow: 0px 0px 36px -23px gray;
  border: 0;
  border-radius: 0.8rem;
}
section .card3 .card-content {
  padding-inline: 4rem;
  box-sizing: border-box;
  margin: auto;
}
@media (max-width: 375px) {
  section .card3 .card-content {
    text-align: center;
    padding-inline: 1rem;
  }
}
@media (max-width: 768px) {
  section .card3 .card-content {
    padding-inline: 0;
  }
}
@media (max-width: 768px) {
  section .card3 .card-content h3 {
    font-size: 18px;
  }
}
section .card3 .card-content .card-pharagraph {
  font-size: 18px;
  color: hsl(208, 11%, 55%);
}
@media (max-width: 768px) {
  section .card3 .card-content .card-pharagraph {
    font-size: 18px;
  }
}

footer {
  background-color: hsl(192, 100%, 9%);
  color: white;
  padding-top: 3rem;
  font-size: 0.8rem;
  position: relative;
  margin-top: 7rem;
}
footer section {
  width: 100%;
  display: flex;
  justify-content: center;
}
footer section .build-community-section {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem;
  margin-bottom: 3rem;
  box-shadow: 0px 0px 36px -23px gray;
  border: 0;
  border-radius: 0.8rem;
  width: 240px;
  padding: 1rem;
  position: absolute;
  top: -4rem;
  background-color: white;
}
footer section .build-community-section .card-content {
  padding-inline: 4rem;
  box-sizing: border-box;
  margin: auto;
}
@media (max-width: 375px) {
  footer section .build-community-section .card-content {
    text-align: center;
    padding-inline: 1rem;
  }
}
@media (max-width: 768px) {
  footer section .build-community-section .card-content {
    padding-inline: 0;
  }
}
@media (max-width: 768px) {
  footer section .build-community-section .card-content h3 {
    font-size: 18px;
  }
}
footer section .build-community-section .card-content .card-pharagraph {
  font-size: 18px;
  color: hsl(208, 11%, 55%);
}
@media (max-width: 768px) {
  footer section .build-community-section .card-content .card-pharagraph {
    font-size: 18px;
  }
}
footer section .build-community-section p {
  width: 100%;
  text-align: center;
  color: hsl(192, 100%, 9%);
}
footer section .build-community-section button {
  width: 8rem;
  height: 2rem;
  border: 0;
  border-radius: 2rem;
  background-color: hsl(322, 100%, 66%);
  font-size: 0.7rem;
  color: white;
  margin: auto;
}
footer .footer-content {
  display: flex;
  align-items: center;
  margin: auto;
  flex-wrap: wrap;
}
footer .logo {
  margin-bottom: 1rem;
}
footer .footer-content {
  display: flex;
}
footer .div-icon {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}
footer .div-icon p {
  margin-top: 0;
}/*# sourceMappingURL=main.css.map */